/* hero section style */
.hero_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 5rem;
}

.hero_left_wrapper {
	max-width: 360px;
}

.hero_imgWrapper {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
}

.hero_heading {
	font-family: 'Poppins';
	font-weight: 600;
	line-height: 1.4em;
	text-align: left;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
}

.hero_info {
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	color: var(--black-2);
}

.button_wrapper {
	text-align: center;

}

@media only screen and (min-width: 768px) {
	.hero_wrapper {
		flex-direction: row;
	}

	.hero_left {
		flex: 3;
	}

	.hero_right {
		flex: 4;
	}

	.hero_heading {
		font-size: 3.6rem;
		margin-bottom: 2rem;
		text-align: left;
	}

	.hero_info {
		margin-bottom: 2rem;
		text-align: left;
		font-size: 1.8rem;
	}

	.button_wrapper {
		text-align: left;
	}

	.hero_imgWrapper {
		max-width: none;
		width: 90%;
	}
}

/* our specials section */
/* Our Specials Section Styles */
#ourSpecials {
	padding-top: 10rem;
}

.ourSpecials_wrapper {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.ourSpecials_left {
	display: flex;
	gap: 1rem;
}

.ourSpecials_item {
	background-color: var(--lightGreen-1);
	padding: 1.2rem;
	padding-top: 5rem;
	border-radius: 12px;
	width: 45%;
	margin: 0 auto;
}

.ourSpecials_item_img {
	margin-top: calc(-50% - 2rem);
	margin-bottom: 2rem;
	border-radius: 12px;
	height: 150px;
	overflow: hidden;
}

.ourSpecials_item_img img {
	object-fit: cover;
}

.ourSpecials_item_title {
	font-size: 1.4rem;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 1rem;
}

.ourSpecials_item_price {
	color: var(--green-1);
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.ourSpecials_item_stars {
	height: 1.5rem;
	width: max-content;
	margin-bottom: 1rem;
}

.ourSpecials_item_text {
	font-size: 1.4rem;
	color: var(--black-2);
	font-weight: 500;
	font-family: 'Raleway';

}

.ourSpecials_title {
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
}

.ourSpecials_text {
	font-size: 1.4rem;
	color: var(--black-2);
	margin-bottom: 1rem;
}

/* for large device */
@media only screen and (min-width: 768px) {
	#ourSpecials {
		padding-top: 15rem;
	}

	#ourSpecials .container {
		max-width: 900px;
	}

	.ourSpecials_wrapper {
		flex-direction: row;
	}

	.ourSpecials_right {
		flex: 2;
	}

	.ourSpecials_left {
		flex: 4;
		gap: 2rem;
	}

	.ourSpecials_item {
		padding: 2rem;
		width: 45%;
	}

	.ourSpecials_item_title {
		font-size: 2.4rem;
		line-height: 1.4em;
		margin-bottom: 1.5rem;
	}

	.ourSpecials_item_price {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}

	.ourSpecials_item_stars {
		margin-bottom: 2rem;
	}

	.ourSpecials_item_text {
		font-size: 1.9rem;
		font-family: 'Raleway';
	}

	.ourSpecials_title {
		font-size: 3.6rem;
		margin-bottom: 1.5rem;
	}

	.ourSpecials_text {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
	}
}

/* for extra small device */
@media only screen and (max-width: 300px) {
	.ourSpecials_left {
		flex-wrap: wrap;
		gap: 10rem;
	}

	.ourSpecials_item {
		width: 100%;
	}
}

/* discount style */
.discount_wrapper {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	border-radius: 12px;
	background: var(--lightGreen-1) url(./images/discount-illustration.png) no-repeat bottom right /100px;
}

.discount_images {
	display: flex;
	gap: 1rem;
	width: 100%;
	margin-bottom: 2rem;
}

.discount_img1 {
	flex: 2;
}

.discount_img2 {
	flex: 3;
}

.discount_images img {
	object-fit: cover;
	border-radius: 12px;
}

.discount_text {
	font-size: 1.4rem;
	font-weight: 900;
	color: var(--green-1);
	margin-bottom: .5rem;
}

.discount_title {
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 1rem;
}

.discount_price {
	font-size: 1.4rem;
	font-weight: 600;
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

.discount_oldPrice {
	color: var(--black-2);
	text-decoration: line-through;
}

.discount_newPrice {
	color: var(--green-1);
}

.discount_stars {
	width: max-content;
	height: 15px;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
	.discount_wrapper {
		flex-direction: row;
		gap: 4rem;
		padding: 2rem;
		align-items: center;
		background-size: 150px;
		margin: 0 auto;
	}

	.discount_images {
		flex: 5;
		margin-bottom: 0;
		gap: 2rem;
	}

	.discount_img1,
	.discount_img2,
	.discount_img3 {
		flex: 1;
		height: 350px;
	}

	.discount_info {
		flex: 3;
	}

	.discount_text {
		font-size: 2.4rem;

	}

	.discount_title {
		font-size: 3.6rem;
		margin-bottom: 1.5rem;
	}

	.discount_price {
		font-size: 2.4rem;
	}

	.discount_stars {
		height: 20px;
		margin-bottom: 2rem;
	}
}



@media only screen and (max-width: 1000px) {
	.discount_wrapper {
		gap: 2rem;
	}

	.discount_img3 {
		display: none;
	}

}

/* events media section */
/* events media section */
.eventsMedia_wrapper {
	display: flex;
	gap: 1rem;
	height: 543px;
	object-fit: fill;
}


.eventsMedia_img2 {

	height: 543px;
	overflow: hidden;
}



@media only screen and (min-width: 768px) {


	.eventsMedia_wrapper {
		gap: 2rem;

	}
}

/* events info section style */
#eventInfo {
	padding-top: 0;
}

.eventInfo_wrapper {
	display: flex;
	flex-direction: column;
}

.eventInfo_item {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	background: var(--lightGreen-1);
	margin-bottom: 1.5rem;
	border-radius: 12px;
}

.eventInfo_item_img {
	border-radius: 12px;
	overflow: hidden;
	flex: 3;
}

.eventInfo_item_img img {
	object-fit: cover;
}

.eventInfo_item_info {
	flex: 4;
}

.eventInfo_item_title {
	font-size: 1.4rem;
	margin-bottom: 1rem;
	color: var(--black-1);
}

.eventInfo_item_text {
	font-size: 1.4rem;
	color: var(--black-2);
}

.eventInfo_right {
	margin-top: 2rem;

}

.eventInfo_title {
	font-size: 1.8rem;
	color: var(--black-1);
	margin-bottom: 1rem;
}

.eventInfo_text {
	column-gap: var(--black-2);
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

@media screen and (min-width:768px) {
	.eventInfo_wrapper {
		flex-direction: row;
		gap: 2rem;
	}

	.eventInfo_right,
	.eventInfo_left {
		flex: 1;
	}

	.eventInfo_item {
		padding: 2rem;
		gap: 2rem;
		max-width: 540px;
		margin-bottom: 2rem;
	}

	.eventInfo_item_title {
		font-size: 2rem;
	}

	.eventInfo_item_text {
		font-size: 1.8rem;
	}

	.eventInfo_title {
		font-size: 3.8rem;
	}

	.eventInfo_text {
		font-size: 1.8rem;
		max-width: 540px;
		margin-bottom: 2rem;
	}

}

/*  End events info section style */

/* why us scetion style*/
.whyUs_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;
}
.whyUs_left{
	text-align: center;
}
.whyUs_title{
	font-family: 'Poppins';
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 500;
	margin-bottom: 1rem;
}
.whyUs_text{
	font-size: 1.4rem;
}
.whyUs_item_wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.whyUs_item{
	background: var(--lightGreen-1);
	padding: 2rem;
	border-radius: 12px;
	text-align: center;
}
.whyUs_item_icon{
	max-width: 56px;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.whyUs_item_text{
	font-family: 'Poppins';
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--black-1);
}
@media screen and (min-width:768px) {
	.whyUs_wrapper{
		flex-direction: row;
		max-width: 900px;
		margin: 0 auto;

	}
	.whyUs_left{
		flex: 4;
		text-align: left;
	}
	.whyUs_right{
		flex: 3;
	}
	.whyUs_title{
		font-size: 3.8rem;
		margin-bottom: 2.2rem;
	}
	.whyUs_text{
		font-size: 2rem;
		line-height: 1.4em;
	}
	.whyUs_item_wrapper{
		gap: 1.5rem;
	}
	.whyUs_item{
		padding: 2rem;
	}
	.whyUs_item_icon{
		max-width: 65px;
		margin-bottom: 1.6rem;
	}
	.whyUs_item_text{
		font-size: 1.8rem;
	}
}
/* End why us scetion style*/

/* newsLetter section */
.newsLetter_wrapper{
	display: flex;
	flex-direction: column;
	background-color: var(--green-2);
	padding: 1.5rem;
	border-radius: 8px;
	gap: 2rem;
}
.newsLetter_title{
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 1.4rem;
}
.newsLetter_text{
	font-size: 1.5rem;
	color: var(--black-2);
	font-weight: 500;
}
.newsLetter_form form{
	position: relative;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}
.newsLetter_form label{
	width: 100%;
}
.newsLetter_form input{
	width: 100%;
	font-size: 1.4rem;
	padding: 1.5rem 1rem;
	border: none;
}
.newsLetter_form input::placeholder{
	color: rgb(168, 166, 166);
}
.newsLetter_form button[type=submit]{
	background-color: var(--green-1);
	color:white;
	border: none;
	font-size: 1.4rem;
	padding: 0 2rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
@media screen and (min-width:768px){
	.newsLetter_wrapper{
		flex-direction: row;
		padding: 5rem;
		align-items: center;
	}
	.newsLetter_form,
	.newsLetter_info{
		flex: 1;
	}
	.newsLetter_title{
		font-size: 3.8rem;
		margin-bottom: 2rem;
	}
	.newsLetter_text{
		font-size: 2rem;
		max-width: 400px;
	}
	.newsLetter_form{
		max-width: 450px;
		border-radius: 12px;
	}
	.newsLetter_form input{
		font-size: 1.8rem;
		padding: 2rem;
	}
	.newsLetter_form button[type=submit]{
		font-size: 2rem;
	}
	
}
/* End newsLetter section */